body>#main-navigation.active {
  min-height: 350px;
}

body>#main-navigation a {
  padding: 15px 15px;
  max-width: 200px;
}

nav#main-navigation {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: start;
  padding-inline: calc(var(--content-inline-padding) / 2);
  padding-block: 20px;
  background: var(--black-bg);
  overflow: scroll;
  isolation: isolate;
  cursor: grab;
  scrollbar-width: none;
  height: -moz-max-content;
  height: max-content;
  max-height: 150px;
  min-height: 150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: min-height ease 0.3s;
  direction: rtl;
}

@media (max-width: 426px) {
  nav#main-navigation {
    flex-flow: column nowrap
  }
}

nav#main-navigation::-webkit-scrollbar {
  width: 0;
  height: 0;
}

nav#main-navigation>* {
  flex: 0 0 auto;
  text-align: center;
  direction: ltr;
}

nav#main-navigation>nav-row {
  display: grid;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  border-top: 1px solid gray;
  padding: 5px;
  padding-top: 0.7em;
}

nav#main-navigation>nav-row>span {
  position: absolute;
  top: -0.5em;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  background: var(--black-bg);
  padding-inline: 2px;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 426px) {
  nav#main-navigation>nav-row>span {
    margin: 0 1em;
  }
}

@media (max-width: 426px) {
  nav#main-navigation>nav-row {
    display: flex;
  }
}

@media (max-width: 768px) {
  nav#main-navigation {
    padding-inline: 25px;
  }
}