.sidebar {
	position fixed;
	top 0;
	left 100vw;
	height 100%;
	width 40vw;
	z-index 6;
	background gray;
	transition all 0.5s ease;

	&.active {
		left 60vw;
	}

	@media (max-width 600px) {
		width 70vw;

		&.active {
			left 30vw;
		}
	}

	&__body {
		padding 20px 15px 10px 10px;
		overflow auto;
		firstLevelElementsMargin 'bottom' 30;

		@media (max-width $toMobileWidth) {
			height 100%;
		}
	}

	// &__block

	// &-block
	&__show-btn {
		position absolute;
		left -90px;
		top 110px;

		&.active {
			svg {
				transform rotate(-180deg);
			}
		}

		@media (max-width 426px) {
			left -35px;

			&.active {
				left -55px;
			}
		}

		svg {
			transition all 0.5s ease;
			block-size 100%;

			&:hover, &:focus {
				rect {
					fill #e8663c;
				}
			}

			rect {
				transition all 0.5s ease;
				fill #dddddd;
			}
		}
	}
}