.submenu-button {
  position: relative
  flex-set: row nowrap
  flex-content-position: center center

  &::after {
    display: inline-block
    block-size: 4px
    border-top: 1.5px solid #ffffff
    border-right: 1.5px solid #ffffff
    transform: translate(5px, 0) rotate(135deg)
    transition: all 0.3s ease 0s
    content: ''
  }

  &.active {
    &::after {
      transform: translate(5px, 0) rotate(-45deg)
    }
  }
}

.submenu {
  position: absolute
  z-index: 1
  display: none
  background: #818181
  top: 100%
  width: max-content

  &.show {
    position: absolute
    display: block
  }

  &_to-left {
    right: 0
  }

  &_to-right {
    left: 0
  }

  &_center {
    left: 50%
    transform: translate(-50%, 0)
  }
}