dialog[data-modal-dialog] {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  background: white;
  text-align: center;
  @mixin hide;
  transition: all 0.2s ease;

  &[open] {
    @mixin show;
  }

  &::backdrop {
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.3);
  }
}
