@import '../_environment'

// form

// fieldset

// label
// 	cursor pointer

// input
// 	&:disabled

// 	&:invalid

// input[type=text]

// input[type=email]

// input[type=tel]

// input[type=number]
// 	-moz-appearance textfield

// 	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
// 		appearance none
// 		margin 0

// input[type=radio], input[type=checkbox]
// 	display none

// 	& + label

// 		svg

// 	&:checked + label

// 		svg

// input[type=checkbox]

// input[type=radio]

// input[type=file]
// 	display none

// 	& + label

// select
// 	cursor pointer
// 	appearance none
// 	background #fff

// textarea
// 	scrollbar-width 0
// 	resize none

// 	&::-webkit-scrollbar
// 		width 0
// 		outline none
// input[type=password]
// 	font-family caption

// input[type=date]
// 	&::-webkit-datetime-edit
// 		/* all input, but not calendar button */
// 		background greenyellow

// 	&::-webkit-datetime-edit-fields-wrapper
// 		/* only date values */
// 		background yellow

// 	&::-webkit-datetime-edit-text
// 		/* elements between numbers */
// 		background gray

// 	&::-webkit-datetime-edit-month-field
// 		/* month */

// 	&::-webkit-datetime-edit-day-field
// 		/* day */

// 	&::-webkit-datetime-edit-year-field
// 		/* year */

// 	&::-webkit-inner-spin-button
// 		display none

// 	&::-webkit-calendar-picker-indicator
// 		/* calendar button */
// 		margin 0
// 		padding 0
// 		box-sizing border-box
