.modal-window {
  /* pseudoInset fixed 0 0; */
  display: grid;
  place-items: center center;
  opacity: 0;
  z-index: 15;
  backdrop-filter: blur(1px);
  transition: opacity 0.3s ease;

  background: rgba(0, 0, 0, 0.3);

  width: 100vw;
  height: 100vh;
  height: 100svh;

  overflow-y: auto;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
  &__closer {
    color: #7d7d7d;
  }
}
