@import '../_environment'

.spoiler {
  position relative
  transition all .3s ease

  &__btn {
    flex-set row nowrap
    width 100%
    cursor pointer
  }

  &__content {
    &.active {
    }
  }
}
