.spoiler {
  position: relative;
  transition: all 0.3s ease;

  &-btn {
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    width: 100%;
  }

  /* &-content {
    &.active {}
  } */
}
