.submenu-wrapper {
  position: relative;
}
.submenu-menu {
  z-index: 1;
  position: absolute;
  top: 100%;
  @mixin hide;
  width: max-content;
  background: white;
  transition: all 0.2s ease;

  &.show {
    @mixin show;
  }

  &_to-left {
    right: 0;
  }
  &_to-right {
    left: 0;
  }
  &_center {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
