{
  "WARNING": "The option below disables the VISUAL markings of warnings, but still allows you to correct them through auto-fix.",
  "fix": true,
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-clean-order"
  ],
  "rules": {
    "block-no-empty": null,
    "function-no-unknown": null,
    "font-weight-notation": "numeric",
    "function-name-case": null,
    "selector-attribute-quotes": null,
    "selector-class-pattern": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null
  }
}