tab-frame {
  place-items: start stretch;

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: 300ms;
  }
}

tab-item {
  &[current] {
  }

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: 300ms;
  }
}

tab-button {
  &[expanded] {
  }
}
