tab-frame {
  --fade: none;
  --auto-height: none;

  place-items: start stretch;

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: 300ms;
  }
}

tab-item {
  &[current] {
  }

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: 300ms;
  }
}

tab-button {
  --switch-event: click;

  &[expanded] {
  }
}
