.submenu-wrapper {
  position: relative;
}

.submenu-menu {
  @mixin hide;
  position: absolute;
  z-index: 1;
  top: 100%;

  width: max-content;

  background: white;

  transition: all 0.2s ease;

  &.show {
    @mixin show;
  }

  &.is-to-left {
    right: 0;
  }

  &.is-to-right {
    left: 0;
  }

  &.is-center {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
