.SubmenuWrapper {
  position: relative;
}

.SubmenuMenu {
  @mixin hide;
  position: absolute;
  z-index: 1;
  top: 100%;

  width: max-content;

  background: white;

  transition: all 0.2s ease;

  &.show {
    @mixin show;
  }

  &.toLeft {
    right: 0;
  }

  &.toRight {
    left: 0;
  }

  &.toCenter {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
