.text
  padding 10px 0 10px 0
  line-height 1.2

.demo-block
  background rgba(0, 0, 0, 0.404)
  padding 20px 20px 20px 20px
  border-radius 10px

.title
  font-size adapt-fsize(35, 20)

  &::first-letter
    text-transform uppercase

.body
  @extend .container
  firstLevelElementsMargin 20

.filter
  &__content
    flex-set column nowrap
    flex-content-position center center
    gap 25px

  &__header
    flex-set row wrap
    gap 15px

  &__button
    padding 10px 7px 10px 7px
    border 1px solid #fff

    &.active, &:hover, &:focus
      background #fff
      color #000

  &__main
    flex-set row wrap
    gap 15px

  &__item
    padding 10px 5px 10px 5px

    &_green
      background green

    &_blue
      background blue

    &_red
      background red

    &_yellow
      background yellow
      color #000

.demo-spoiler
  &__content
    flex-set row wrap
    flex-content-position center center
    gap 25px

  &__spoiler-block
    display inline-block

.swiper
  h2
    margin-bottom 20px

  &__text
    margin-bottom 20px

  &-slide
    text-align center
    background rgba(0, 0, 0, 0.404)
    min-height 100px
    flex-set row nowrap
    flex-content-position center center

.el-menu
  &__content
    flex-set row wrap
    flex-content-position space-between center

  &__item
    position relative
    border 1px solid #fff
    padding 15px 15px 15px 15px

    &:not(:last-child)
      margin 0 10px 0 0

  &__menu
    position absolute
    top 0
    left 0
    block-size 100% 100%
    background #000000ab
    flex-set row nowrap
    flex-content-position center center
    transition all 0.3s ease

    &._non-active
      visibility hidden
      opacity 0
      pointer-events none

.accordion
  &__container
    text-align center
    firstLevelElementsMargin 20

  &__btn
    padding 10px 10px 10px 10px
    border 1px solid #fff

    &.active
      transform scale(1.1, 1.1)

  &__items
    position relative
    margin auto

  &__item
    text-align left
    hide()
    transition all 0.5s ease

    &.active
      show()

.demo-submenu
  &__content
    flex-set row wrap
    flex-content-position center center

  &__button
    padding 5px 10px 5px 10px
    font-size adapt-fsize(18)

  &__ul
    padding 10px 10px 10px 10px

    li
      padding 5px 5px 5px 5px

      a
        color #fff

.special-thanks__text
  a
    text-decoration underline
    color var(--main-font-color)