@import '_mixins'

.footer
  flex-set row nowrap
  flex-content-position center center
  min-height 100px
  background rgb(99, 99, 99)

  // background: url('../img/') no-repeat center / cover
  &__body
    a
      color #fff
