.container
  margin auto

  @media (min-width unit($layoutWidth, px))
    // Insert the width of the container as a percentage of the width of the layout.
    width 70%

  @media (min-width 768px) and (max-width unit($layoutWidth, px))
    width 70%

  @media (min-width 426px) and (max-width 768px)
    width 80%

  @media (max-width 425px)
    width 95%

.adaptive-image
  display block
  position relative
  padding 0 0 100% 0

  img
    position absolute
    top 0
    left 0
    block-size 100% 100%
    object-fit cover

.adaptive-video
  display block
  position relative
  padding 0 0 100% 0

  video
    position absolute
    top 0
    left 0
    size(100%, 100%)
    object-fit contain

.sidebar
  $toMobileWidth = 950px
  height 100%
  z-index 5

  @media (max-width $toMobileWidth)
    position fixed
    background gray
    left 100vw
    width 40vw
    top 0
    transition all 0.5s ease

    &.active
      left 60vw

  @media (max-width 600px)
    width 70vw

    &.active
      left 30vw

  &__body
    padding 20px 15px 10px 10px
    position sticky
    top 10px
    overflow auto
    firstLevelElementsMargin 30

    @media (max-width $toMobileWidth)
      height 100%

  // &__block

  // &-block
  &__show-btn
    display none
    position absolute
    left -70px
    top 76px

    @media (max-width $toMobileWidth)
      display block

      &.active
        svg
          transform rotate(-180deg)

    @media (max-width 426px)
      left -35px

      &.active
        left -55px

    svg
      transition all 0.5s ease
      block-size 100% 100%

      &:hover, &:focus
        rect
          fill #e8663c

      rect
        transition all 0.5s ease
        fill #dddddd

.modal-window
  position fixed
  z-index 15
  top 0
  left 0
  background #00000046
  block-size 100% 100%
  hide()
  transition all 0.5s ease

  &.active
    show()

  &__body
    flex-set row nowrap
    height 100%
    flex-content-position center center
