@import '_mixins'
@import 'modules/_fsNavmenu'
@import 'modules/_searchbar'

.header
  position relative
  flex-set row nowrap
  justify-content center
  z-index 5
  background #636363

  &__body
    flex-set row nowrap
    flex-content-position space-between center
    padding 10px 0 10px 0

    *
      z-index 5

    @media (max-width 560px)
      .searchbar
        display none
  // &__container

.fixed-header
  position fixed
  top 0
  left 0
  width 100%

.navmenu
  height 50px

  @media (max-width 600px)
    display none

  &__body
    display flex
    height 100%

  &__list
    flex-set row wrap
    padding 0 5px 0 5px

    li
      flex-set row nowrap
      flex-content-position center center
      transition all 0.2s ease 0s

      &:not(:last-child)
        padding 0 10px 0 0

      a
        flex-set row nowrap
        flex-content-position center center
        flex 1 0 100%
        color #fff
        block-size 100% 100%

        &:hover, &:focus
          background #dddada62

    

  

.logo
  z-index 10
  height 50px

  img
    max-width 50px
    height 100%
