/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */
$layoutWidth = 1440
$mainFontSize = 16
$minFontSize = 12

html
  --main-font-color #fff
  --main-font-family Arial
  --bg gray

@import '_nullStyle'
@import '_mixins'
@import '_header'
@import '_footer'
@import '_fonts'
@import '_spoiler'
@import '_general'

body
  height 100%
  color var(--main-font-color)
  font adapt-fsize($mainFontSize, $minFontSize) var(--main-font-family)

  &.scroll-block
    overflow hidden

  button
    font-family var(--main-font-family)
    color var(--main-font-color)

.main
  width 100%

  &__body
    firstLevelElementsMargin 20
    background var(--bg)

.fullscreen
  flex-set row nowrap
  flex-content-position center center
  position relative
  block-size auto 90vh
  adaptive-property 'min-height' 400 300
  // background: url('../img/') no-repeat center / cover
  background rgb(54, 54, 54)

  // &__body

  &__scroll
    position absolute
    bottom 5%

  .adaptive-image
    padding 0 0 10% 0

    img
      top -60%

@import '_demoStyles'