.searchbar {
  flex-set row nowrap;
  background #fff;
  height 30px;

  * {
    height 100%;
  }

  &__input {
    padding 0 0 0 10px;

    &:focus {
      background #d8d5d5;
    }
  }

  &__submit {
    padding 0 10px 0 10px;
    transition all 0.3s ease;

    &:hover {
      background #acabab;
    }

    img {
      block-size(16px, 16px);
    }
  }
}