.submenu-open-button {
  position: relative
  flex-set: row nowrap
  flex-content-position: center center

  &::after {
    display: inline-block
    content: ''
    block-size: 4px 4px
    border-top: 1.5px solid #ffffff
    border-right: 1.5px solid #ffffff
    transform: translate(5px, 0) rotate(135deg)
    transition: all 0.3s ease 0s
  }

  &.active {
    &::after {
      transform: translate(5px, 0) rotate(-45deg)
    }
  }
}

.submenu {
  z-index: 1
  position: absolute
  display: none
  width: 100%
  background: #818181

  a, button {
    &:hover, &:focus {
      text-decoration: underline
    }
  }

  &.show {
    position: absolute
    display: flex
    flex-content-position($jc: center, $ai: center)
    top: 100%
    right: 0
  }
}