.submenu-open-button {
  position relative;
  flex-set row nowrap;
  flex-content-position center center;

  &::after {
    display inline-block;
    content '';
    block-size 4px 4px;
    border-top 1.5px solid rgb(255, 255, 255);
    border-right 1.5px solid rgb(255, 255, 255);
    transform translate(5px, 0) rotate(135deg);
    transition all 0.3s ease 0s;
  }

  &.active {
    &::after {
      transform translate(5px, 0) rotate(-45deg);
    }
  }
}

.submenu {
  z-index 1;
  position absolute;
  display none;
  height 50px;
  background #818181;

  &.show {
    position absolute;
    top 100%;
    right 0;
    display flex;

    &.navmenu__list {
      li {
        &:hover, &:focus {
          filter brightness(115%);
        }
      }
    }
  }
}