html {
  --main-font-color: #fff;
  --main-font-family: Arial;
  --bg: #808080;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.header:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #636363;
  z-index: 4;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 0;
}

.header__body * {
  z-index: 5;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navmenu {
  height: 50px;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 5px 0 5px;
}

.navmenu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.navmenu__list li:not(:last-child) {
  padding: 0 10px 0 0;
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  padding: 0 5px 0 5px;
  color: #fff;
  width: 100%;
  height: 100%;
}

.navmenu__list li a:hover,
.navmenu__list li a:focus {
  background: rgba(221,218,218,0.384);
}

.navmenu__list .submenu-open-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  cursor: pointer;
}

.navmenu__list .submenu-open-button::after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-top: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  -webkit-transform: translate(5px,0) rotate(135deg);
      -ms-transform: translate(5px,0) rotate(135deg);
          transform: translate(5px,0) rotate(135deg);
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.navmenu__list .submenu-open-button.active::after {
  -webkit-transform: translate(5px,0) rotate(-45deg);
      -ms-transform: translate(5px,0) rotate(-45deg);
          transform: translate(5px,0) rotate(-45deg);
}

.navmenu__submenu {
  z-index: 1;
  position: absolute;
  display: none;
  height: 50px;
  background: #818181;
}

.navmenu__submenu.show {
  position: absolute;
  top: 100%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__submenu.show.navmenu__list li:hover,
.navmenu__submenu.show.navmenu__list li:focus {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: rgba(0,0,0,0.678);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.fullscreen-navmenu.active {
  right: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: auto;
}

.fullscreen-navmenu__body ul {
  margin: 0 auto;
  width: 100%;
}

.fullscreen-navmenu__body ul li {
  border-bottom: 1px solid #fff;
}

.fullscreen-navmenu__body ul li:last-child {
  border: none;
}

.fullscreen-navmenu__body ul li:hover,
.fullscreen-navmenu__body ul li:focus {
  color: #beafaf;
}

.fullscreen-navmenu__body ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 25px 0;
  color: #fff;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #fff;
  height: 30px;
}

.searchbar * {
  height: 100%;
}

.searchbar__input {
  padding: 0 0 0 10px;
}

.searchbar__input:focus {
  background: #d8d5d5;
}

.searchbar__submit {
  padding: 0 10px 0 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.searchbar__submit:hover {
  background: #acabab;
}

.searchbar__submit img {
  width: 16px;
  height: 16px;
}

.burger-btn {
  z-index: 5;
  display: block;
  cursor: pointer;
}

.burger-btn__svg * {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.burger-btn__rect-top {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn__rect-center,
.burger-btn__rect-bottom {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn.active .burger-btn__rect-top {
  -webkit-transform: rotate(45deg) translate(-5%,50%);
      -ms-transform: rotate(45deg) translate(-5%,50%);
          transform: rotate(45deg) translate(-5%,50%);
}

.burger-btn.active .burger-btn__rect-center {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.burger-btn.active .burger-btn__rect-bottom {
  -webkit-transform: rotate(-45deg) translate(-5%,-50%);
      -ms-transform: rotate(-45deg) translate(-5%,-50%);
          transform: rotate(-45deg) translate(-5%,-50%);
}

.logo {
  z-index: 10;
  height: 50px;
}

.logo img {
  max-width: 50px;
  height: 100%;
}

.footer {
  background: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
}

.footer__body a {
  color: #fff;
}

.uspoiler-btn-active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0 15px 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.uspoiler-btn-active.active {
  color: #d6d6d6;
}

.uspoiler-btn-active.active:after {
  margin: 0 0 0 7px;
  -webkit-animation: spoiler-arrow-totop 1s;
          animation: spoiler-arrow-totop 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.uspoiler-btn-active:after {
  display: inline-block;
  content: "";
  margin: 0 0 0 7px;
  padding: 5px 5px 5px 5px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-animation: spoiler-arrow-tobottom 1s;
          animation: spoiler-arrow-tobottom 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@-webkit-keyframes spoiler-arrow-totop {
  0% {
    -webkit-transform: rotate(135deg) translate(0%,50%);
            transform: rotate(135deg) translate(0%,50%);
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-50%,0%);
            transform: rotate(-45deg) translate(-50%,0%);
  }
}

@keyframes spoiler-arrow-totop {
  0% {
    -webkit-transform: rotate(135deg) translate(0%,50%);
            transform: rotate(135deg) translate(0%,50%);
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-50%,0%);
            transform: rotate(-45deg) translate(-50%,0%);
  }
}

@-webkit-keyframes spoiler-arrow-tobottom {
  0% {
    -webkit-transform: rotate(-45deg) translate(-50%,0%);
            transform: rotate(-45deg) translate(-50%,0%);
  }

  100% {
    -webkit-transform: rotate(-225deg) translate(0%,50%);
            transform: rotate(-225deg) translate(0%,50%);
  }
}

@keyframes spoiler-arrow-tobottom {
  0% {
    -webkit-transform: rotate(-45deg) translate(-50%,0%);
            transform: rotate(-45deg) translate(-50%,0%);
  }

  100% {
    -webkit-transform: rotate(-225deg) translate(0%,50%);
            transform: rotate(-225deg) translate(0%,50%);
  }
}

.container {
  margin: auto;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adaptive-video {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-video video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.sidebar {
  height: 100%;
  z-index: 5;
}

.sidebar__body {
  padding: 20px 15px 10px 10px;
  position: sticky;
  top: 10px;
  overflow: auto;
}

.sidebar__body >*:not(:last-child) {
  margin-bottom: 30px;
}

.sidebar__show-btn {
  display: none;
  position: absolute;
  left: -70px;
  top: 76px;
}

.sidebar__show-btn svg {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  height: 100%;
}

.sidebar__show-btn svg:hover rect,
.sidebar__show-btn svg:focus rect {
  fill: #e8663c;
}

.sidebar__show-btn svg rect {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  fill: #ddd;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.275);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.modal-window.active {
  overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  height: 100%;
  color: var(--main-font-color);
  font: calc((100vw - 20rem)/(62.5 - 20) * (1 - 0.75) + 0.75rem) var(--main-font-family);
}

body.scroll-block {
  overflow: hidden;
}

body button {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}

.main {
  width: 100%;
}

.main__body {
  background: var(--bg);
}

.main__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: auto;
  height: 90vh;
  min-height: calc(300px + (400 - 300) * ((100vw - 320px) / (1000 - 320)));
  background: #363636;
}

.fullscreen__scroll {
  position: absolute;
  bottom: 5%;
}

.filter {
  text-align: center;
  background: #808080;
}

.filter__body {
  padding: 20px 0 20px 0;
}

.filter__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.filter__title {
  text-transform: uppercase;
  font-size: calc((100vw - 20rem)/(62.5 - 20) * (1.5625 - 1.25) + 0.75rem);
}

.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.filter__button {
  padding: 10px 7px 10px 7px;
  border: 1px solid #fff;
}

.filter__button:hover {
  background: #fff;
  color: #000;
}

.filter__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.filter__item {
  padding: 10px 5px 10px 5px;
}

.filter__item_green {
  background: #008000;
}

.filter__item_blue {
  background: #00f;
}

.filter__item_red {
  background: #f00;
}

.filter__item_yellow {
  background: #ff0;
  color: #000;
}

.swiper {
  background: #808080;
  text-align: center;
}

.swiper span {
  display: inline-block;
  text-transform: uppercase;
  font-size: calc((100vw - 20rem)/(62.5 - 20) * (1.5625 - 1.25) + 0.75rem);
}

.swiper-slide {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-spoiler {
  background: #808080;
  text-align: center;
}

.demo-spoiler__body {
  padding: 20px 0 20px 0;
}

.demo-spoiler__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.demo-spoiler__title {
  text-transform: uppercase;
  font-size: calc((100vw - 20rem)/(62.5 - 20) * (1.5625 - 1.25) + 0.75rem);
}

.el-menu {
  text-align: center;
}

.el-menu__body {
  padding: 20px 0 20px 0;
}

.el-menu__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.el-menu__title {
  text-transform: uppercase;
  font-size: calc((100vw - 20rem)/(62.5 - 20) * (1.5625 - 1.25) + 0.75rem);
}

.el-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.el-menu__item {
  position: relative;
  border: 1px solid #fff;
  padding: 15px 15px 15px 15px;
}

.el-menu__item:not(:last-child) {
  margin: 0 10px 0 0;
}

.el-menu__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.671);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.el-menu__menu._non-active {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.uspoiler-content li {
  padding: 5px 0 5px 0;
}

@media (min-width:600px) {
  .fullscreen-navmenu {
    display: none;
  }

  .burger-btn {
    display: none;
  }
}

@media (min-width:768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width:1000px) {
  .container {
    width: 70%;
  }
}

@media (max-width:950px) {
  .sidebar {
    position: fixed;
    background: #808080;
    left: 100vw;
    width: 40vw;
    top: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .sidebar.active {
    left: 60vw;
  }

  .sidebar__body {
    height: 100%;
  }

  .sidebar__show-btn {
    display: block;
  }

  .sidebar__show-btn.active svg {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (max-width:600px) {
  .navmenu {
    display: none;
  }

  .sidebar {
    width: 70vw;
  }

  .sidebar.active {
    left: 30vw;
  }
}

@media (max-width:560px) {
  .header__body .searchbar {
    display: none;
  }
}

@media (max-width:426px) {
  .uspoiler-btn-active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .uspoiler-btn-active:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .sidebar__show-btn {
    left: -35px;
  }

  .sidebar__show-btn.active {
    left: -55px;
  }
}

@media (max-width:425px) {
  .container {
    width: 95%;
  }
}

@media (min-width:768px) and (max-width:1000px) {
  .container {
    width: 70%;
  }
}

@media (min-width:426px) and (max-width:768px) {
  .container {
    width: 80%;
  }
}