$containerWidth: 1000
$mainFontFamily: Arial
$mainFontColor: #fff
$mainFontSize: 16
$background: #fff

@import "nullStyle"
@import "mixins"
@import "header"
@import "footer"
@import "fonts"
// @import "iconFonts"
@import "spoiler"
@import "general"

body
  height: 100%
  color: $mainFontColor
  font: adapt-fsize(16) $mainFontFamily

  &.scroll-block
    overflow: hidden

  button
    color: #fff

.main
  width: 100%
  overflow: hidden

  background: $background

  &__body
    background: $background

.fullscreen
  // ? I recommend save this if you use sidepanel in fullscreen.
  position: relative

  display: flex
  @include flex-centring

  @include size(auto, 100vh)
  @include adaptive-property ('min-height',500, 500)

  // background: url('../img/') no-repeat center / cover
  background: rgb(54, 54, 54)

  &__body

  &__scroll
    position: absolute
    bottom: 5%

.content

  &__body

.sidepanel
  position: absolute
  left: 10%
  padding: 0px padrpx 0px 0px
  top: 0 
  @include size (50px, 100%)
  
  &__body
    display: flex
    justify-content: center
    align-items: center
    @include size (50px, 100%)

  &__list
    flex-flow: column nowrap
    >*
      &:not(:last-child)
        margin-bottom: 10px
