$containerWidth: 1000
$mainFontFamily: Arial
$mainFontColor: #fff
$mainFontSize: 16
$bg: gray

@import "nullStyle"
@import "mixins"
@import "header"
@import "footer"
@import "fonts"
@import "spoiler"
@import "general"

body
  height: 100%
  color: $mainFontColor
  font: adapt-fsize(16) $mainFontFamily

  &.scroll-block
    overflow: hidden

  button
    color: $mainFontColor

.main
  width: 100%
  overflow: hidden

  &__body
    @include firstLevelElementsMargin(20)
    background: $bg

.fullscreen
  //? I recommend save this if you use sidepanel in fullscreen.
  position: relative

  display: flex
  @include flex-centring

  @include size(auto, 100vh)
  @include adaptive-property ('min-height',500, 500)

  // background: url('../img/') no-repeat center / cover
  background: rgb(54, 54, 54)

  &__body

  &__scroll
    position: absolute
    bottom: 5%

.sidepanel
  position: absolute
  left: 10%
  padding: 0px padrpx 0px 0px
  top: 0
  @include size (50px, 100%)

  &__body
    display: flex
    justify-content: center
    align-items: center
    @include size (50px, 100%)

  &__list
    flex-flow: column nowrap
    @include firstLevelElementsMargin(10)

.filter
  text-align: center
  background: gray

  &__body
    padding: 20px 0 20px 0
    @include firstLevelElementsMargin(20)

  &__title
    text-transform: uppercase
    font-size: adapt-fsize(25, 20)

  &__header
    display: flex
    flex-flow: row wrap
    justify-content: center
    gap: 15px

  &__button
    padding: 10px 7px 10px 7px
    border: 1px solid #fff
    &:hover
      background: #fff
      color: #000

  &__main
    display: flex
    flex-flow: row wrap
    justify-content: center
    gap: 15px

  &__item
    padding: 10px 5px 10px 5px

    &_green
      background: green

    &_blue
      background: blue

    &_red
      background: red

    &_yellow
      background: yellow
      color: #000

.swiper
  background: gray
  text-align: center

  span
    display: inline-block
    text-transform: uppercase
    font-size: adapt-fsize(25, 20)

  &-slide
    min-height: 100px
    display: flex
    @include flex-centring

.demo-spoiler
  background: gray
  text-align: center

  &__body
    padding: 20px 0 20px 0
    @include firstLevelElementsMargin(20)

  &__title
    text-transform: uppercase
    font-size: adapt-fsize(25, 20)

.el-menu
  text-align: center

  &__body
    padding: 20px 0 20px 0
    @include firstLevelElementsMargin(20)

  &__title
    text-transform: uppercase
    font-size: adapt-fsize(25, 20)

  &__content
    display: flex
    flex-flow: row wrap
    justify-content: center

  &__item
    position: relative
    border: 1px solid #fff
    padding: 15px 15px 15px 15px
    &:not(:last-child)
      margin: 0 10px 0 0

  &__menu
    position: absolute
    top: 0
    left: 0
    @include size (100%,100%)
    background: #000000ab

    display: flex
    @include flex-centring

    transition: all 0.3s ease
    &._non-active
      visibility: hidden
      opacity: 0
      pointer-events: none

.uspoiler-content

  li
    padding: 5px 0px 5px 0px

  &.active
