@import '_environment'

.wrapper {
  display grid
  align-items center
  justify-items center
  padding clamp(20px, 5vw, 75px)
  bg-img-multi-type '../img/bg.svg', no-repeat center / cover
  background-attachment fixed
}

.main-form {
  flex-set column nowrap
  background #ffffff6b
  backdrop-filter blur(3px)
  border 2px solid #EFF0F7
  padding 20px
  border-radius 7px

  &__title {
    font-size rem(24)
    margin-bottom 5px
  }

  &__about {
    color #8A8A8A
    line-height 1.5
    margin-bottom 25px
  }

  &__steps-preview {
    flex-set row nowrap
    justify-content space-between
    padding-bottom 20px
    margin-bottom 35px
    border-bottom 1.5px solid #D9DBE9
    padding-left 25px
    padding-right 25px
  }

  &__blocks {
    position relative
    width 100%

    >* {
      flex 1 0 100%
    }
  }

  &__block {
    flex-set column nowrap
    transition all .4s ease
  }

  &__body {
    display grid
    grid-template-columns repeat(2, 1fr)
    gap 15px 20px
  }

  &__input-block {
    display grid
    gap 15px
  }

  &__legend {
    font-size rem(18)
    margin 15px 0
    font-weight 500
  }

  &__input-wrapper {
    position relative
  }

  &__input {
    &.invalid {
      border-color red
    }
  }

  &__submit {
    flex-set row nowrap
    justify-content center
    align-items center
    notLastChildMargin 0 5px 0 0
    margin-top 25px
    color #fff
    background #4A3AFF
    padding 5px 20px
    border-radius 5px
    transition all .2s ease

    &:hover, &:focus {
      background #6557ff
    }
  }
}

.input-block {
  &__title {
    font-size rem(18)
    font-weight 500
  }

  &__select, &__select-wrapper {
    position relative

    &:after {
      display inline-block
      pseudoInset absolute 50% 0 auto auto
      transform translate(-50%, -50%)
      block-size 15px
      background url('../img/selectArrow.svg') no-repeat center / contain
      pointer-events none
      content ''
    }
  }
}

.input {
  background #fff
  padding 4px 12px
  border-radius 5px
  border 2px solid #EFF0F7
  color #757D8A
}

#errorsContainer {
  flex-set column nowrap
  notLastChildMargin 0 0 10px 0
  padding 20px 0
  align-items center
}

.step {
  display grid
  place-items center center
  font-size rem(18)
  background #EFF0F6
  color #6F6C90
  block-size 2em
  border-radius 50%
  transition all .4s ease

  &.active {
    background #4A3AFF
    color #fff
  }
}
