<!-- /-/ General scripts -->

@@if(modules.justValidate) {
<!-- JustValidate -->
<script type="module" src="scripts/justValidate.js"></script>
}
@@if(modules.swiper) {
<!-- Swiper -->
<link rel="stylesheet" href="css/swiper-bundle.min.css">
<script type="module" src="scripts/sliders.js"></script>
}

@@if(modules.burgerMenu) {
<script type="module" src="scripts/burgerMenu.js"></script>
<link rel="stylesheet" href="css/modules/burgerMenu.min.css">
}
@@if(modules.formStyles) {
<link rel="stylesheet" href="css/modules/form.min.css">
}
@@if(modules.sidebar) {
<script type="module" src="scripts/sidebar.js"></script>
<link rel="stylesheet" href="css/modules/sidebar.min.css">
}
@@if(modules.spoilers) {
<script type="module" src="scripts/spoiler.js"></script>
<link rel="stylesheet" href="css/modules/spoiler.min.css">
}
@@if(modules.submenu) {
<script type="module" src="scripts/submenu.js"></script>
<link rel="stylesheet" href="css/modules/submenu.min.css">
}
@@if(modules.animateByScroll) {
<script type="module" src="scripts/animateByScroll.js"></script>
}
@@if(modules.swipe) {
<script type="module" src="scripts/swipe.js"></script>
}
@@if(modules.elementModal) {
<script type="module" src="scripts/elementModal.js"></script>
}
@@if(modules.horizontalScroll) {
<script type="module" src="scripts/horizontalScroll.js"></script>
}
@@if(modules.modalWindow) {
<script type="module" src="scripts/modalWindow.js"></script>
}
@@if(modules.parallax) {
<script type="module" src="scripts/parallax.js"></script>
}
@@if(modules.scrollToElement) {
<script type="module" src="scripts/scrollToElement.js"></script>
}
@@if(modules.sidebar) {
<script type="module" src="scripts/sidebar.js"></script>
}
@@if(modules.tabs) {
<script type="module" src="scripts/tab.js"></script>
}