<header class="header">
  <div class="header__body _container">

    <!--? Use if the header can be clearly divided into two parts. -->
    <!-- <div class="header__top">
    </div>
    <div class="header__bottom">
    </div> -->

    <a href="index.html" class="logo">
      <img src="img/logo.png" alt="logo" width=50 height=50>
    </a>
    <!-- <form class="searchbar">
      <input class="searchbar__input" type='text' placeholder='input' required>
      <button class="searchbar__submit" type='submit'>
        <img src="img/icons/loupe.svg" alt="search">
      </button>
    </form> -->

    <nav class="navmenu">
      <ul class='navmenu__body'>
        <%- include('components/_navmenuRefItem.htm', {
					classes:'', href:'./index.html', title:'title', target:'_blank', isBurgerItem:false }) 
				%>
        <%- include('components/_navmenuRefItem.htm', {
					classes:'', href:'./index.html', title:'ref', target:'_self', isBurgerItem:false }) 
				%>
        <!-- 
					Combine includs and your own elements (don't forget <li>).
				-->
        <%- include('components/_navmenuBtnItem.htm', {
					classes:'', dataScrollTo:'.selector', title:'title', isBurgerItem:false }) 
				%>
      </ul>
    </nav>

    <%- include('components/_burgerMenu.htm') %>
  </div>
</header>