section ul {
  display: grid;
  gap: 20px;
}

section ul>li {
  display: flex;
  align-items: center;
}

section ul>li:before {
  display: inline-block;
  background: black;
  min-width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 0.5em;
  content: '';
}