dialog[data-modal-dialog] {
  @mixin hide;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  display: block;

  text-align: center;

  background: white;

  transition: all 0.2s ease;

  &::backdrop {
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(1px);
  }

  &[open] {
    @mixin show;
  }
}
