fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 100, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 200, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 300, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 400, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 500, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 600, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 700, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 800, normal)
fontStyle('AzeretMono', woff2-variations, AzeretMono-VariableFont_wght, 900, normal)
