.header
	position: relative
	z-index: 5

	&__body
		+flex-set(row, nowrap)

.navmenu
	@media (max-width $burgerMenuShowWidth)
		display: none

	// &__body

	&__list
		flex-set: row wrap

		li
			a, button
				display: inline-block
				padding: 4px 8px 4px 8px
				color: var(--text-c)
				transition: all .2s ease 0s

.fixed-header
	position: fixed
	top: 0
	left: 0
	width: 100%

.logo
	z-index: 10
