@import 'modules/_nullStyle';
@import 'other/_vars';
@import 'other/_mixins';
@import 'other/_fonts';
@import 'modules/_submenu';
@import 'modules/_form';
@import 'modules/_spoiler';
@import 'modules/_sidebar';
@import 'modules/_searchbar';
@import 'modules/_burgerMenu';
@import 'other/_general';
@import '_footer';
@import '_header';

body {
	height 100%;
	color var(--text-c);
	font adapt-fsize($mainFontSize, $minFontSize) var(--main-font-family);

	button {
		color var(--text-c);
		font-size adapt-fsize($mainFontSize, $minFontSize);
	}
}

.main {
	background var(--bg);

	&__body {
	}
}
