@use 'connectHelper' as *
@use 'other/fonts'
@use 'modules/nullStyle'
@use 'other/general'
@use 'header'
@use 'footer'
@use 'modules/_submenu'
@use 'modules/_form'
@use 'modules/_spoiler'
@use 'modules/_sidebar'
@use 'modules/_burgerMenu'

body
	height: max-content
	color: var(--text-c)
	background: var(--bg)
	font: adaptiveFontSize($mainFontSize, $minFontSize) var(--main-font-family)

	button
		color: var(--text-c)
		font-size: adaptiveFontSize($mainFontSize, $minFontSize)
