/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */
$layoutWidth = 1440
$mainFontSize = 16
$minFontSize = 12
$burgerMenuShowWidth = 570px

:root {
  --main-font-color: #e2e2e2
  --main-font-family: Arial
  --bg: #5f5e5e
}

@import 'modules/_nullStyle'
@import '_footer'
@import '_fonts'
@import '_general'
@import '_header'
@import '_mixins'
@import 'modules/_submenu'
@import 'modules/_spoiler'
@import 'modules/_sidebar'

body {
  height: 100%
  color: var(--main-font-color)
  font: adapt-fsize($mainFontSize, $minFontSize) var(--main-font-family)

  &.scroll-block {
    overflow: hidden
  }

  button {
    font-family: var(--main-font-family)
    color: var(--main-font-color)
  }
}

.main {
  width: 100%

  &__body {
    firstLevelElementsMargin: 'bottom' 20
    background: var(--bg)
  }
}

@import '_demoStyles'
