<aside id='modal' class='modal-window'>
  <button aria-label='Close this window' class='modal-window__closer' type='button'>close window</button>

  Your content!
</aside>

<!-- ? Use if you need a side menu. -->
<!-- <aside id='sidebar1' class='sidebar content__sidebar'>
	<div class='sidebar__body'>
		This is a sidebar.
	</div>
</aside>
<button data-toggle-sidebar='sidebar1' class='sidebar__toggle-btn' aria-label='Toggle didebar visibility' type='button'>sidebarBtn</button>
<div data-swipe-element='sidebar1' class='swipe_window__swipe_area'></div> -->