<button type='button'
        id='burgerButton'
        class='burger-btn'
        aria-label='Show the burger menu'>
  <svg class='main-svg'
       width='40'
       height='40'
       viewBox='0 0 40 40'
       xmlns='http://www.w3.org/2000/svg'>
    <rect class='rect-top'
          width='40'
          height='3'
          x='0%'
          y='0%'
          fill='#000' />
    <rect class='rect-center'
          width='40'
          height='3'
          x='0%'
          y='45%'
          fill='#000' />
    <rect class='rect-bottom'
          width='40'
          height='3'
          x='0%'
          y='90%'
          fill='#000' />
  </svg>
</button>

<nav class='m-burger-menu'>
  <ul>
    <li class='element'>
      <a class=''
         target='_blank'
         rel='noopener'
         href='#'>
        ref
      </a>
    </li>
    <li class='element'>
      <button class=''
              type='button'>
        button
      </button>
    </li>
  </ul>
</nav>