<header class='l-header is-centered-content'>
  <!--? Use if the header can be clearly divided into two parts. -->
  <!-- <div class='top'>
  </div>
  <div class='bottom'>
  </div> -->

  <a href='index.html'
     class='is-logo'
     aria-label='To main page'>
    <!-- <img src='img/logo.png'
         alt='logo'> -->
  </a>

  <!-- <form class='m-searchbar'>
    <input class='input'
           type='text'
           placeholder='input'
           required>
    <button class='submit'
            type='submit'>
      <img src='img'
           alt='search'>
    </button>
  </form> -->

  <nav class='m-navmenu'>
    <ul class='body'>
      <li>
        <a class=''
           target='_self'
           rel='noopener'
           href='#'>
          ref
        </a>
      </li>
      <li>
        <button class=''
                type='button'>
          button
        </button>
      </li>
    </ul>
  </nav>

  <x-burgerMenu></x-burgerMenu>
</header>