<header class='HEADER centeredContent'>
  <!--? Use if the header can be clearly divided into two parts. -->
  <!-- <div class='top'>
  </div>
  <div class='bottom'>
  </div> -->

  <a href='index.html'
     class='Logo'
     aria-label='To main page'>
    <!-- <img src='img/logo.png'
         alt='logo'> -->
  </a>

  <!-- <form class='SearchBar' role='search'>
    <input type='text'
           placeholder='input'
           required>
    <button type='submit'>
      <img src='img'
           alt='search'>
    </button>
  </form> -->

  <nav class='NavMenu'>
    <ul>
      <li>
        <a target='_self'
           rel='noopener'
           href='#'>
          ref
        </a>
      </li>
      <li>
        <button type='button'>
          button
        </button>
      </li>
    </ul>
  </nav>

  <x-burgerMenu></x-burgerMenu>
</header>