<header class='header'>
  <div class='header__body _container'>
    <!--? Use if the header can be clearly divided into two parts. -->
    <!-- <div class='header__top'>
    </div>
    <div class='header__bottom'>
    </div> -->

    <a href='index.html' class='logo' aria-label='To main page'>
      <img src='img/logo.png' alt='logo'>
    </a>

    <!-- <form class='searchbar'>
      <input class='searchbar__input' type='text' placeholder='input' required>
      <button class='searchbar__submit' type='submit'>
        <img src='img/icons/loupe.svg' alt='search'>
      </button>
    </form> -->

    <nav class='navmenu'>
      <ul class='navmenu__body'>
        <li>
          <a class='' target='_blank' rel='noopener' href='#'>
            ref
          </a>
        </li>
        <li>
          <button class='' type='button'>
            button
          </button>
        </li>
      </ul>
    </nav>

    <x-burgerMenu></x-burgerMenu>
  </div>
</header>