<script props>
  module.exports = {
    // Set the main language of pages below.
    lang: 'en',
    // Set the title of the index page below.
    title: props.title || 'Unnamed page',
    // Set a name for a preloaded font. Must be a file name without extension.
    preloadedFontName: 'none',
    justValidate: props.justValidate,
    swiper: props.swiper,
    typed: props.typed,
    photoSwipe: props.photoSwipe,
    noUiSlider: props.noUiSlider,
    burgerMenu: props.burgerMenu,
    formStyles: props.formStyles,
    sidebar: props.sidebar,
    spoiler: props.spoiler,
    submenu: props.submenu,
    observerTools: props.observerTools,
    swipe: props.swipe,
    horizontalScroll: props.horizontalScroll,
    dialogs: props.dialogs,
    parallax: props.parallax,
    autoScrollPadding: props.autoScrollPadding,
    tabs: props.tabs,
    stepByStep: props.stepByStep,
    styles: isArray(props.styles) ? props.styles : [],
    scripts: isObject(props.scripts) ? props.scripts : {},
  }
</script>

<!DOCTYPE html>
<html lang={{lang}}>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible'
        content='IE=edge'>
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0'>
  <!-- ? ↓ Disables forced link for phone number on iOS -->
  <meta name='format-detection'
        content='telephone=no'>
  <meta name='description'
        content='description'>
  <meta name='theme-color'
        content='#000000'>
  <link rel='icon'
        href='./img/favicon.svg'>
  <link rel='mask-icon'
        href='./img/favicon.svg'
        color='#000000'>
  <link rel='apple-touch-icon'
        href='apple-touch-icon.png'>
  <link rel='manifest'
        href='manifest.json'>

  <if condition='preloadedFontName != "none"'>
    <link rel='preload'
          href='./fonts/{{ preloadedFontName }}.woff2'
          as='font'
          type='font/woff2'
          crossorigin>
  </if>

  <title> {{ title }} </title>

  <!-- /-/ General stylesheets -->
  <link rel='stylesheet'
        href='./styles/general/fonts.css'>
  <link rel='stylesheet'
        href='./styles/animations.css'>
  <link rel='stylesheet'
        href='./styles/base.css'>
  <link rel='stylesheet'
        href='./styles/layout.css'>
  <link rel='stylesheet'
        href='./styles/module.css'>
  <link rel='stylesheet'
        href='./styles/state.css'>
  <link rel='stylesheet'
        href='./styles/theme.css'>

  <!-- /-/ General scripts -->
  <if condition='justValidate'>
    <!-- JustValidate -->
    <script type='module'
            src='./libs/justValidate/justValidate.js'></script>
  </if>

  <if condition='swiper'>
    <!-- Swiper -->
    <link rel='stylesheet'
          href='./libs/swiper/swiper-bundle.min.css'>
    <script type='module'
            src='./libs/swiper/sliders.js'></script>
  </if>

  <if condition='typed'>
    <!-- Typed -->
    <script defer
            src='./libs/typed/typed.min.js'></script>
    <script defer
            src='./libs/typed/typed.js'></script>
  </if>

  <if condition='photoSwipe'>
    <!-- PhotoSwipe -->
    <script type='module'
            src='./libs/photoSwipe/photoswipe.js'></script>
    <link rel='stylesheet'
          href='./libs/photoswipe/photoswipe.css'>
  </if>

  <if condition='noUiSlider'>
    <!-- NoUiSlider -->
    <link href='./libs/noUiSlider/nouislider.min.css'
          rel='stylesheet'>
    <script type='module'
            src='./libs/noUiSlider/nouislider.js'></script>
  </if>

  <if condition='burgerMenu'>
    <!-- BurgerMenu -->
    <script type='module'
            src='./scripts/burgerMenu/burgerMenu.js'></script>
    <link rel='stylesheet'
          href='./scripts/burgerMenu/burgerMenu.css'>
  </if>

  <if condition='formStyles'>
    <!-- Form styles -->
    <link rel='stylesheet'
          href='./styles/form.css'>
  </if>

  <if condition='sidebar'>
    <!-- Sidebar -->
    <script type='module'
            src='./scripts/sidebar/sidebar.js'></script>
    <link rel='stylesheet'
          href='./scripts/sidebar/sidebar.css'>
  </if>

  <if condition='spoiler'>
    <!-- Spoiler -->
    <script type='module'
            src='./scripts/spoiler/spoiler.js'></script>
    <link rel='stylesheet'
          href='./scripts/spoiler/spoiler.css'>
  </if>

  <if condition='submenu'>
    <!-- Submenu -->
    <script type='module'
            src='./scripts/submenu/submenu.js'></script>
    <link rel='stylesheet'
          href='./scripts/submenu/submenu.css'>
  </if>

  <if condition='observerTools'>
    <!-- Observer Tools -->
    <script type='module'
            src='./scripts/observerTools/observerTools.js'></script>
  </if>

  <if condition='swipe'>
    <!-- Swipe -->
    <script type='module'
            src='./scripts/swipe/swipe.js'></script>
  </if>

  <if condition='horizontalScroll'>
    <!-- Horizontal scroll -->
    <script type='module'
            src='./scripts/horizontalScroll.js'></script>
  </if>

  <if condition='dialogs'>
    <!-- For dialogs -->
    <link rel='stylesheet'
          href='./scripts/dialogs/dialogs.css'>
    <script type='module'
            src='./scripts/dialogs/dialogs.js'></script>
  </if>

  <if condition='parallax'>
    <!-- Parallax -->
    <script type='module'
            src='./scripts/parallax/parallax.js'></script>
  </if>

  <if condition='autoScrollPadding'>
    <!-- Scroll to element -->
    <script type='module'
            src='./scripts/autoScrollPadding/autoScrollPadding.js'></script>
  </if>

  <if condition='tabs'>
    <!-- Tabs -->
    <script type='module'
            src='./scripts/tab/tab.js'></script>
  </if>

  <if condition='stepByStep'>
    <!-- StepByStep -->
    <script type='module'
            src='./scripts/stepByStepBlock/stepByStepBlock.js'></script>
  </if>

  <!-- /-/ Other stylesheets and scripts for this page -->
  <stack name='styles'></stack>
  <stack name='scripts'></stack>
</head>

<body>
  <if condition='$slots.header?.filled'>
    <x-header></x-header>
  </if>

  <main class='l-main'>
    <yield></yield>
  </main>

  <if condition='$slots.footer?.filled'>
    <x-footer></x-footer>
  </if>
</body>

</html>