<!-- <button class='' type='button' data-close-dialog-id="specificDialogId">
  Close a specific dialog
</button>
<button class='' type='button' data-open-dialog-id="modalDialog">
  Open a specific dialog
</button>
<button class='' type='button' data-open-dialog-id="modalDialog2" data-close-opened-dialogs>
  Open a specific dialog and close all previously opened ones.
</button>


<dialog id='windowDialog'>
  <span>Dialog like a just window</span>
  <button class='' type='button' data-close-dialog-id>Close this!</button>
</dialog>

<dialog id='modalDialog' data-modal-dialog>
  <span>In modal dialogs, write your content only in tags!</span>
  <button class='' type='button' data-close-dialog-id>Close this!</button>
</dialog> -->



<!-- ? Use if you need a side menu. -->
<!-- 
<aside class='sidebar' id='sidebar1'>
  Your content!
</aside>
<button class='sidebar__closer' data-toggle-sidebar-id='sidebar1' type='button'>
  Toggle sidebar
</button>  -->

<!-- <div class='swipe_window__swipe_area' data-swipe-element='#sidebar1'></div> -->