@layer modules {
  dialog[data-modal-dialog] {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: -moz-fit-content;
    height: fit-content;
    translate: -50% -50%;
    background: var(--background);
    padding: 50px;
    border-radius: 10px;
    cursor: auto;
    cursor: initial;
  }

  dialog[data-modal-dialog]>* {
    padding: 0 15px;
  }

  dialog[data-modal-dialog]::backdrop {
    background: rgb(0 0 0 / 30%);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  dialog[data-modal-dialog]:not([open]) {
    pointer-events: none;
    opacity: 0;
  }

  /* For dialogs like small windows. */
  dialog:not([data-modal-dialog]):not([open]) {
    pointer-events: none;
    opacity: 0;
  }

  @media (max-width: 1240px) {
    dialog[data-modal-dialog] {
      width: 75vw;
      height: -moz-fit-content;
      height: fit-content;
    }
  }

  @media (max-width: 768px) {
    dialog[data-modal-dialog] {
      width: 90vw;
      height: -moz-fit-content;
      height: fit-content;
      padding: 25px;
    }
  }

  @media (max-width: 426px) {
    dialog[data-modal-dialog] {
      padding: 0px;
    }
  }
}