section {
  h1 {
    --text: 'Сервер';
  }
  p {
    --text: 'Для разработки нужен сервер, на котором будут видны результаты трудов. В этом проекте для этого используется ';

    a {
      --attr-href: 'https://www.npmjs.com/package/browser-sync';
      --attrs: 'target="_blank" rel="noopener noreferrer"';
      --text: 'BrowserSync.';
    }
  }
  p {
    --text: 'Вы сможете найти файл конфигурации сервера по пути ';

    code {
      --text: 'sources/plugins/server.js';
    }
  }
}
