<button
  data-open-dialog-id="burger-menu"
  type="button"
  id="burgerButton"
  class="AnimatedSvgBurger"
  title="Open the burger menu"
>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect class="rectTop" width="40" height="3" x="0%" y="0%" fill="gray" />
    <rect class="rectCenter" width="40" height="3" x="0%" y="45%" fill="gray" />
    <rect class="rectBottom" width="40" height="3" x="0%" y="90%" fill="gray" />
  </svg>
</button>

<dialog id="burger-menu" data-modal-dialog>
  <nav>
    <ul>
      <li>
        <a target="_self" rel="noopener" href="#"> ref </a>
      </li>
      <li>
        <button type="button">button</button>
      </li>
    </ul>
  </nav>
</dialog>
