<script props>
  //You can pass an argument here via x-layout using 'aware'. See https://posthtml.github.io/posthtml-components/docs.html#props
  module.exports = { props: props }
</script>

<header>
  <!--? Use if the header can be clearly divided into two parts. -->
  <!-- <header-top></header-top>
  <header-bottom></header-bottom> -->

  <!-- <a href="index.html" class="Logo" aria-label="To main page">
    <img src="images/logo.png" alt="logo" />
  </a> -->

  <!-- <form role="search">
    <input type="text" placeholder="input" required />
    <button type="submit">
      <img src="images" alt="search" />
    </button>
  </form> -->

  <nav>
    <ul>
      <li>
        <a target="_self" rel="noopener" href="#"> ref </a>
      </li>
    </ul>
  </nav>

  <x-burgerMenu></x-burgerMenu>
</header>
