<script props>
  module.exports = {
    // Set the main language of pages below.
    lang: 'en',
    title: props.title || 'Unnamed page',
    // Set a name for a preloaded font. Must be a file name without extension.
    preloadedFontName: 'none',
    justValidate: props.justValidate,
    swiper: props.swiper,
    typed: props.typed,
    photoSwipe: props.photoSwipe,
    noUiSlider: props.noUiSlider,
    formStyles: props.formStyles,
    observerTools: props.observerTools,
    swipe: props.swipe,
    horizontalScroll: props.horizontalScroll,
    dialogs: props.dialogs,
    parallax: props.parallax,
    autoScrollPadding: props.autoScrollPadding,
    tabs: props.tabs,
    stepByStep: props.stepByStep,
    observerTools: props.observerTools,
    infiniteScroll: props.infiniteScroll,
    styles: isArray(props.styles) ? props.styles : [],
    scripts: isObject(props.scripts) ? props.scripts : {},
  }
</script>

<!DOCTYPE html>
<html lang='{{ lang }}'>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible'
        content='IE=edge'>
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0'>
  <!--? ↓ Disables forced link for phone number on iOS -->
  <meta name='format-detection'
        content='telephone=no'>
  <meta name='description'
        content='description'>
  <meta name='theme-color'
        content='#000000'>
  <link rel='icon'
        href='./img/favicon.svg'>
  <link rel='mask-icon'
        href='./img/favicon.svg'
        color='#000000'>
  <link rel='apple-touch-icon'
        href='apple-touch-icon.png'>

  <if condition='preloadedFontName != "none"'>
    <link rel='preload'
          href='./fonts/{{ preloadedFontName }}.woff2'
          as='font'
          type='font/woff2'
          crossorigin>
  </if>

  <title> {{ title }} </title>

  <!-- /-/ General stylesheets -->
  <link rel='stylesheet'
        href='./styles/fonts.css'>
  <link rel='stylesheet'
        href='./styles/base.css'>
  <link rel='stylesheet'
        href='./styles/layout.css'>
  <link rel='stylesheet'
        href='./styles/module.css'>
  <link rel='stylesheet'
        href='./styles/state.css'>
  <link rel='stylesheet'
        href='./styles/theme.css'>

  <!-- /-/ General scripts -->
  <if condition='justValidate'>
    <!-- JustValidate -->
    <script type='module'
            src='./libs/justValidate/index.js'></script>
  </if>

  <if condition='swiper'>
    <!-- Swiper -->
    <link rel='stylesheet'
          href='./libs/swiper/swiper-bundle.min.css'>
    <script type='module'
            src='./libs/swiper/index.js'></script>
  </if>

  <if condition='typed'>
    <!-- Typed -->
    <script defer
            src='./libs/typed/typed.min.js'></script>
    <script defer
            src='./libs/typed/index.js'></script>
  </if>

  <if condition='photoSwipe'>
    <!-- PhotoSwipe -->
    <script type='module'
            src='./libs/photoSwipe/index.js'></script>
    <link rel='stylesheet'
          href='./libs/photoswipe/photoswipe.css'>
  </if>

  <if condition='noUiSlider'>
    <!-- NoUiSlider -->
    <link href='./libs/noUiSlider/nouislider.min.css'
          rel='stylesheet'>
    <script type='module'
            src='./libs/noUiSlider/index.js'></script>
  </if>

  <if condition='formStyles'>
    <!-- Form styles -->
    <link rel='stylesheet'
          href='./styles/form.css'>
  </if>

  <if condition='observerTools'>
    <!-- Observer Tools -->
    <script type='module'
            src='./scripts/observerTools/index.js'></script>
  </if>

  <if condition='swipe'>
    <!-- Swipe -->
    <script type='module'
            src='./scripts/swipe/index.js'></script>
  </if>

  <if condition='horizontalScroll'>
    <!-- Horizontal scroll -->
    <script type='module'
            src='./scripts/horizontalScroll.js'></script>
  </if>

  <if condition='dialogs'>
    <!-- For dialogs -->
    <link rel='stylesheet'
          href='./scripts/dialogs/dialogs.css'>
    <script type='module'
            src='./scripts/dialogs/index.js'></script>
  </if>

  <if condition='parallax'>
    <!-- Parallax -->
    <script type='module'
            src='./scripts/parallax/index.js'></script>
  </if>

  <if condition='autoScrollPadding'>
    <!-- Scroll to element -->
    <script type='module'
            src='./scripts/autoScrollPadding/index.js'></script>
  </if>

  <if condition='tabs'>
    <!-- Tabs -->
    <script src='./scripts/tab/index.js'></script>
    <link rel='stylesheet'
          href='./scripts/tab/index.css'>
  </if>

  <if condition='stepByStep'>
    <!-- StepByStep -->
    <script type='module'
            src='./scripts/stepByStepBlock/index.js'></script>
  </if>
  <if condition='infiniteScroll'>
    <!-- StepByStep -->
    <script type='module'
            src='./scripts/infiniteScroll/index.js'></script>
    <link rel='stylesheet'
          href='./scripts/infiniteScroll/index.css'>
  </if>

  <!-- /-/ Other stylesheets and scripts for this page -->
  <stack name='styles'></stack>
  <stack name='scripts'></stack>
</head>

<body>
  <if condition='$slots.header?.filled'>
    <x-header></x-header>
  </if>

  <main class='MAIN'>
    <yield></yield>
  </main>

  <if condition='$slots.footer?.filled'>
    <x-footer></x-footer>
  </if>
</body>

<!-- Made in Russia, with ❤, by Ivan Ulyanov. -->

</html>