/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */

html {
  --main-font-color: #e2e2e2;
  --main-font-family: Arial;
  --bg: #5f5e5e;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.footer {
  padding: 20px 20px 20px 20px;
  background: #636363;
}

.footer__body a {
  color: #fff;
}

.container,
.body {
  margin: auto;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adaptive-video {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-video video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.275);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-window.active {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4 !important;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.fullscreen-navmenu.active {
  right: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: auto;
  background: rgba(0,0,0,0.678);
  min-height: 100%;
}

.fullscreen-navmenu__body ul {
  margin: 0 auto;
  width: 100%;
}

.fullscreen-navmenu__body ul .fs-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 25px 0;
  color: #fff;
}

.fullscreen-navmenu__body ul .fs-element:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.burger-btn {
  z-index: 5;
  display: block;
  cursor: pointer;
}

.burger-btn__svg * {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger-btn__rect-top {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn__rect-bottom {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn.active .burger-btn__rect-top {
  -webkit-transform: rotate(45deg) translate(-5%, 50%);
      -ms-transform: rotate(45deg) translate(-5%, 50%);
          transform: rotate(45deg) translate(-5%, 50%);
}

.burger-btn.active .burger-btn__rect-center {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.burger-btn.active .burger-btn__rect-bottom {
  -webkit-transform: rotate(-45deg) translate(-5%, -50%);
      -ms-transform: rotate(-45deg) translate(-5%, -50%);
          transform: rotate(-45deg) translate(-5%, -50%);
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #fff;
  height: 30px;
}

.searchbar * {
  height: 100%;
}

.searchbar__input {
  padding: 0 0 0 10px;
}

.searchbar__input:focus {
  background: #d8d5d5;
}

.searchbar__submit {
  padding: 0 10px 0 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchbar__submit:hover {
  background: #acabab;
}

.searchbar__submit img {
  width: 16px;
  height: 16px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  background: #636363;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 0;
}

.header__body * {
  z-index: 5;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 5px 0 5px;
}

.navmenu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navmenu__list li:not(:last-child) {
  padding-right: 10px;
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  padding: 5px 5px 5px 5px;
  color: #fff;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.logo {
  z-index: 10;
  height: 50px;
}

.logo img {
  max-width: 50px;
  height: 100%;
}

.submenu-open-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu-open-button::after {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  border-top: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  -webkit-transform: translate(5px, 0) rotate(135deg);
      -ms-transform: translate(5px, 0) rotate(135deg);
          transform: translate(5px, 0) rotate(135deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submenu-open-button.active::after {
  -webkit-transform: translate(5px, 0) rotate(-45deg);
      -ms-transform: translate(5px, 0) rotate(-45deg);
          transform: translate(5px, 0) rotate(-45deg);
}

.submenu {
  z-index: 1;
  position: absolute;
  display: none;
  height: 50px;
  background: #818181;
}

.submenu.show {
  position: absolute;
  top: 100%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submenu.show.navmenu__list li:hover,
.submenu.show.navmenu__list li:focus {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.uspoiler-btn-active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0 15px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.uspoiler-btn-active.active {
  color: #d6d6d6;
}

.uspoiler-btn-active.active:after {
  -webkit-animation: spoiler-arrow-totop 1s;
          animation: spoiler-arrow-totop 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.uspoiler-btn-active:after {
  display: inline-block;
  content: '';
  margin: 0 0 0 13px;
  padding: 5px 5px 5px 5px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-animation: spoiler-arrow-tobottom 1s;
          animation: spoiler-arrow-tobottom 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.uspoiler-content li {
  padding: 5px 0 5px 0;
}

@-webkit-keyframes spoiler-arrow-totop {
  0% {
    -webkit-transform: rotate(135deg) translate(0, 50%);
            transform: rotate(135deg) translate(0, 50%);
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0);
            transform: rotate(-45deg) translate(-50%, 0);
  }
}

@keyframes spoiler-arrow-totop {
  0% {
    -webkit-transform: rotate(135deg) translate(0, 50%);
            transform: rotate(135deg) translate(0, 50%);
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0);
            transform: rotate(-45deg) translate(-50%, 0);
  }
}

@-webkit-keyframes spoiler-arrow-tobottom {
  0% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0);
            transform: rotate(-45deg) translate(-50%, 0);
  }

  100% {
    -webkit-transform: rotate(-225deg) translate(0, 50%);
            transform: rotate(-225deg) translate(0, 50%);
  }
}

@keyframes spoiler-arrow-tobottom {
  0% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0);
            transform: rotate(-45deg) translate(-50%, 0);
  }

  100% {
    -webkit-transform: rotate(-225deg) translate(0, 50%);
            transform: rotate(-225deg) translate(0, 50%);
  }
}

.sidebar {
  height: 100%;
}

.sidebar__body {
  padding: 20px 15px 10px 10px;
  position: sticky;
  top: 10px;
  overflow: auto;
}

.sidebar__body >*:not(:last-child) {
  margin-bottom: 30px;
}

.sidebar__show-btn {
  display: none;
  position: absolute;
  left: -70px;
  top: 76px;
}

.sidebar__show-btn svg {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
}

.sidebar__show-btn svg:hover rect,
.sidebar__show-btn svg:focus rect {
  fill: #e8663c;
}

.sidebar__show-btn svg rect {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #ddd;
}

body {
  height: 100%;
  color: var(--main-font-color);
  font: calc((100vw - 20rem)/(90 - 20) * (1 - 0.75) + 0.75rem) var(--main-font-family);
}

body.scroll-block {
  overflow: hidden;
}

body button {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}

.main {
  width: 100%;
}

.main__body {
  background: var(--bg);
}

.main__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: auto;
  height: 100vh;
  min-height: calc(400px + (500 - 400) * ((100vw - 320px) / (1000 - 320)));
  background: #363636;
}

.fullscreen__scroll {
  position: absolute;
  bottom: 5%;
}

.fullscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen h1 {
  padding: 10% 0 10% 0;
  font-size: calc((100vw - 20rem)/(90 - 20) * (2.1875 - 1.25) + 1.25rem);
}

.header {
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
          box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.sidebar {
  z-index: 1;
}

.sidebar__body {
  top: 100px;
}

.navmenu__list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu__list button {
  padding: 5px 10px 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px 5px 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navmenu__list button:not(:last-child) {
  margin-right: 10px;
}

.navmenu__list button:hover,
.navmenu__list button:focus {
  color: #000;
  background: #fff;
}

.text {
  padding: 10px 0 10px 0;
  line-height: 1.2;
}

.code-block {
  display: inline-block;
  background: rgba(0,0,0,0.404);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.demo-block {
  background: rgba(0,0,0,0.404);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.title {
  font-size: calc((100vw - 20rem)/(90 - 20) * (2.1875 - 1.25) + 1.25rem);
}

.title::first-letter {
  text-transform: uppercase;
}

.body >*:not(:last-child) {
  margin-bottom: 20px;
}

.main__body {
  padding: 10px 0 10px 0;
}

.main__body >* {
  padding: 10px 0 10px 0;
}

.styles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.styles__r-code {
  color: #ff9191;
}

.scripts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.images__big-text {
  font-weight: bold;
}

.images__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.filter__header,
.filter__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.filter__button {
  padding: 10px 7px 10px 7px;
  border: 1px solid #fff;
}

.filter__button.active,
.filter__button:hover,
.filter__button:focus {
  background: #fff;
  color: #000;
}

.filter__item {
  padding: 10px 5px 10px 5px;
}

.filter__item_green {
  background: #008000;
}

.filter__item_blue {
  background: #00f;
}

.filter__item_red {
  background: #f00;
}

.filter__item_yellow {
  background: #ff0;
  color: #000;
}

.demo-spoiler__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.demo-spoiler__spoiler-block {
  display: inline-block;
}

.swiper h2 {
  margin-bottom: 20px;
}

.swiper__text {
  margin-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  background: rgba(0,0,0,0.404);
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.el-menu__item {
  position: relative;
  border: 1px solid #fff;
  padding: 15px 15px 15px 15px;
}

.el-menu__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.671);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.el-menu__menu._non-active {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.accordion__container {
  text-align: center;
}

.accordion__container >*:not(:last-child) {
  margin-bottom: 20px;
}

.accordion__btn {
  padding: 10px 10px 10px 10px;
  border: 1px solid #fff;
}

.accordion__btn.active {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.accordion__items {
  position: relative;
  margin: auto;
}

.accordion__item {
  text-align: left;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.accordion__item.active {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
}

.demo-submenu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-submenu__button {
  padding: 5px 10px 5px 10px;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.125 - 0.75) + 0.75rem);
}

.demo-submenu__ul {
  padding: 10px 10px 10px 10px;
}

.demo-submenu__ul li {
  padding: 5px 5px 5px 5px;
}

.demo-submenu__ul li a {
  color: #fff;
}

.packages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.packages__content li {
  padding: 5px 0 5px 0;
}

.special-thanks__text a {
  text-decoration: underline;
  color: var(--main-font-color);
}

@media (min-width: 570px) {
  .fullscreen-navmenu {
    display: none;
  }

  .burger-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: 1440px) {
  .container,
  .body {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .sidebar {
    position: fixed;
    background: #808080;
    left: 100vw;
    width: 40vw;
    top: 0;
    z-index: 5;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .sidebar.active {
    left: 60vw;
  }

  .sidebar__body {
    height: 100%;
  }

  .sidebar__show-btn {
    display: block;
  }

  .sidebar__show-btn.active svg {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 70vw;
  }

  .sidebar.active {
    left: 30vw;
  }
}

@media (max-width: 570px) {
  .navmenu {
    display: none;
  }
}

@media (max-width: 560px) {
  .header__body .searchbar {
    display: none;
  }
}

@media (max-width: 426px) {
  .container,
  .body {
    width: 95%;
  }

  .uspoiler-btn-active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .uspoiler-btn-active:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .sidebar__show-btn {
    left: -35px;
  }

  .sidebar__show-btn.active {
    left: -55px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .container,
  .body {
    width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container,
  .body {
    width: 90%;
  }
}