@use '../sassEnv' as *

:root
	--main-font-family: arial
	--text-c: black
	--bg: white

._container
	margin: auto

	@media (min-width: #{$layoutWidth + px})
		// Insert the width of the container as a percentage of the width of the layout.
		width: 70vw

	@media (min-width: 768px) and (max-width: #{$layoutWidth + px})
		width: 80vw

	@media (min-width: 426px) and (max-width: 768px)
		width: 90vw

	@media (max-width: 426px)
		width: 95vw

html
	scroll-behavior: smooth

	// ::selection
		// background: gray
		// color: white

body
	height: max-content
	color: var(--text-c)
	background: var(--bg)
	font: adaptiveFontSize($mainFontSize, $minFontSize) var(--main-font-family)

.modal-window
	z-index: 15
	+pseudoInset(fixed, 0, 0)
	display: grid
	place-items: center center
	+block-size(100vw, 100vh)
	+hide()
	background: rgba(0, 0, 0, 0.3)
	backdrop-filter: blur(1px)
	transition: opacity .3s ease

	&.active
		+show()

	&__closer
		color: #7d7d7d

._contain-img
	img
		+block-size(100%)
		object-fit: contain

._cover-img
	img
		+block-size(100%)
		object-fit: cover

._thin
	font-weight: 100
._extra-light
	font-weight: 200
._light
	font-weight: 300
._medium
	font-weight: 500
._semi-bold
	font-weight: 600
._bold
	font-weight: 700
._extra-bold
	font-weight: 800
._black
	font-weight: 900
