@import url('../../styles/_environment.pcss');

dialog[data-modal-dialog] {
  &::backdrop {
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(1px);
  }

  &:not([open]) {
  }

  &[open] {
  }
}

/* For dialogs like small windows. */
dialog:not([data-modal-dialog]) {
  &[open] {
  }

  &:not([open]) {
    opacity: 0;
    pointer-events: none;
  }
}

