<%- include('components/headContent.htm', {
  lang: 'en',
  title: 'MainPage',

  modules: {
  justValidate: false,
  swiper: false,
  photoSwipe: false,
  typed: false,
  noUiSlider: false,
  burgerMenu: false,
  formStyles: false,
  sidebar: false,
  spoiler: false,
  submenu: false,
  animateByScroll: false,
  horizontalScroll: false,
  modalWindow: false,
  parallax: false,
  scrollToElement: false,
  tabs: false,
  },

  styles: [
    // To connect styles, add a string here with the name of the file to be connected.
    'index',
  ],
  scripts: [
    // To connect scripts, add the name of the attached file and the necessary attributes here.
    // { name: 'scriptFileName', attrs: 'type="module" defer' },
  ],
}) %>

<body>
  <%- include('components/header.htm', {}) %>

  <main>
    <div id="slider"></div>
  </main>

  <%- include('components/modals.htm', {}) %>

  <%- include('components/footer.htm') %>
</body>

</html>
<!-- Made in Russia, with ❤, by Ivan Ulyanov. -->