/* CouriercBold.ttf */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CouriercBold.woff2") format("woff2");
  font-family: "CouriercBold";
  font-display: swap;
}
:root {
	--courierc-bold: 'CouriercBold';
}
.CouriercBold-700 {
	font-family: var(--courierc-bold);
	font-weight: 700;
	font-style: normal;
}
