@import url('./_environment.pcss');

@layer theme {
  @media (prefers-color-scheme: light) {
  }

  @media (prefers-color-scheme: dark) {
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}
