@import "../_environment.pcss";

.header {
  position: relative;
}
.navmenu {
  &__body {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;

    li {
      a,
      button {
        display: inline-block;
        transition: all 0.2s ease 0s;

        padding: 8px;
        color: inherit;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
.logo {
  z-index: 10;
}
