*
  padding 0
  margin 0
  border 0

*
*:before
*:after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

::active
  outline none

*:focus-visible
  outline 1px solid

nav
footer
header
aside
  display block

html
body
  height 100%
  width 100%
  font-size 100%
  line-height 1
  -ms-text-size-adjust 100%
  -moz-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -webkit-tap-highlight-color #00000000

input
  width 100%

  &::-ms-clear
    display none

  &:focus-visible
    outline none

button
  cursor pointer
  font-size inherit
  color inherit
  background none
  outline-color transparent

  &::-moz-focus-inner
    padding 0
    border 0

input
button
textarea
  font-family inherit

select
  font-family inherit
  appearance none
  cursor pointer
  width 100%

  &:focus-visible
    outline none

a
  display inline-block
  text-decoration none

  &:hover
  &:visited
    text-decoration none

  &:active
  &:focus
    outline none

ul
li
  list-style none

img
  vertical-align top

h1
h2
h3
h4
h5
h6
  font-size inherit
  font-weight 400

address
  font-style normal
