// Insert layout width below.
// If this is not done, when using a responsive font, the result will not match the layout.
// Please note that specifying a value less than 425 is dangerous for the psyche. 

$layoutWidth: 1440
$mainFontSize: 16
$minFontSize: 12
$burgerMenuShowWidth: 768px

:root
	--text-c: #f3f3f3
	--main-font-family: Arial
	--bg: #5f5e5e
